.app__assignment {
  height: 100vh !important;
  width: 100vw !important;
  justify-content: center;
  align-items: center;
  display: grid;
}

.link {
  top: 10px;
  right: 20px;
  position: absolute;
}
